<div class="text">
  <form [formGroup]="form">
    <div class="form-group">
      <br><br>
      <h4>{{'button.user.createNewUser' | translate}}</h4> <br>
      <input
        class="form-control"
        formControlName="username"
        id="username"
        placeholder="{{'button.user.username' | translate}}"
        type="text">
      <div *ngIf="form.get('username').touched && form.get('username').invalid" class="alert alert-danger">
        <div *ngIf="form.get('username').errors.required">{{'button.user.create.usernameRequired' | translate}}</div>
        <div *ngIf="form.get('username').errors.minLength">{{'button.user.create.minLenUsername' | translate}}</div>
      </div>
      <input
        class="form-control"
        formControlName="email"
        id="email"
        placeholder="{{'button.user.email' | translate}}"
        type="text">
      <div *ngIf="form.get('email').touched && form.get('email').invalid" class="alert alert-danger">
        <div *ngIf="form.get('email').errors.required">{{'button.user.create.emailRequired' | translate}}</div>
        <div *ngIf="form.get('email').errors.minLength">{{'button.user.create.minLenUsername' | translate}}</div>
      </div>
      <input
        class="form-control"
        formControlName="firstName"
        id="firstName"
        placeholder="{{'button.user.firstName' | translate}}"
        type="text">
      <div *ngIf="form.get('firstName').touched && form.get('firstName').invalid" class="alert alert-danger">
        <div *ngIf="form.get('firstName').errors.required">{{'button.user.create.firstNameRequired' | translate}}.</div>
      </div>
      <input
        class="form-control"
        formControlName="lastName"
        id="lastName"
        placeholder="{{'button.user.lastName' | translate}}"
        type="text">
      <div *ngIf="form.get('lastName').touched && form.get('lastName').invalid" class="alert alert-danger">
        <div *ngIf="form.get('lastName').errors.required">{{'button.user.create.lastNameRequired' | translate}}.</div>
      </div>
      <select [(ngModel)]="allRoles[1]" class="form-control"
              formControlName="userRole" id="userRole" onchange="">
        <option *ngFor="let role of allRoles"
                [ngValue]="role">{{role[1] | translate}}</option>
      </select>
    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary" data-dismiss="modal" routerLink="/userManagement"
              type="button">{{'button.common.back' | translate}}</button>
      <button (click)="save(username, lastName, firstName, email)" [disabled]="form.invalid" class="btn btn-primary"
              type="submit">{{'button.common.save' | translate}}
      </button>
    </div>
  </form>
</div>
