<div class="text">
  <form [formGroup]="form">
    <div class="form-group">
      <br><br>
      <h4>{{'button.user.resetPassword' | translate}}</h4>
      <input
        class="form-control"
        formControlName="email"
        id="email"
        placeholder="{{'button.user.email' | translate}}"
        type="text">
      <div *ngIf="form.get('email').touched && form.get('email').invalid" class="alert alert-danger">
        <div *ngIf="form.get('email').errors.required">{{'button.user.create.usernameRequired' | translate}}</div>
      </div>
    </div>
  </form>
  <div class="modal-footer">
    <button class="btn btn-secondary" data-dismiss="modal" routerLink="/login" type="button">Zurück
    </button>
    <button (click)="resetEmail(email)" class="btn btn-primary" type="submit">Abschicken
    </button>
  </div>
</div>
