<nav class="navbar navbar-expand-lg" style="background-color: black;">
  <div class="container">
    <a class="navbar-brand"
       style="float: left; color: white; background-color: black; pointer-events: none;">SensorBIM</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li><a aria-current="page" class="nav-link customButton" routerLink="/home" routerLinkActive="active current">Info</a>
        </li>
        <li><a aria-current="page" class="nav-link active customButton" routerLink="/buildings"
               routerLinkActive="active current">Gebäude</a></li>
        <li><a aria-current="page" class="nav-link active customButton" routerLink="/userManagement"
               routerLinkActive="active current">Benutzerverwaltung</a></li>
      </ul>
    </div>
  </div>
</nav>
